tr:nth-child(odd)   { background-color:#eee; }
tr:nth-child(even)    { background-color:#fff; }
tb{font-weight: bold}
table{border-collapse: collapse;}
table, th, td{border: 1px solid;}
IMG.displayed{display: block; margin-left:auto; margin-right:auto;}
